<?xml version="1.0" encoding="UTF-8"?>
<modules>
	<module>
		<id>chitek.generictcpdriver</id>
		<name>Generic Tcp Driver</name>
		<description>A generic TCP client or server driver.</description>
		<version>${project.version}.${git.commit.time}</version>
		<changeset>${git.commit.id.abbrev}</changeset>
  		<freemodule>true</freemodule>
  		<license>license.html</license>
  		<documentation>manual-frame.html</documentation>
		<requiredignitionversion>7.6.4</requiredignitionversion>
		<requiredframeworkversion>5</requiredframeworkversion>
		<depends scope="G">xopc</depends>
		<jar scope="G">${project.artifactId}-${project.version}.jar</jar>
		<jar scope="G">wicket-devutils-6.1.1.jar</jar>
		<hook scope="G">com.chitek.ignition.drivers.generictcp.ModuleHook</hook>
		</module>
</modules>